.chat-title {
  z-index: 900;
  position: fixed;
  top: 0;
  max-width: 350px;
}
.chat-title h2 {
  width: 350px;
  text-align: center;
  padding: 5px 5px 61px 5px;
  border-radius: 0 0 30px 30px;
  background-color: var(--simplecolor);
}
.submenu .theme {
  display: flex;
  flex-direction: column-reverse;
}
.messages {
  width: 350px;
  margin: 80px 0;
}
.msg {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  border-radius: 10px;
  background-color: var(--simplecolor);
  padding: 15px 10px;
  min-width: 250px;
  max-width: 250px;
  margin-top: 5px;
  margin-right: 80px;
}
.msg .reply {
  margin: 5px 0;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  border-left: 2px solid var(--greencolor);
  background-color: var(--bgcolor);
  color: var(--pcolor);
  padding: 5px;
}
.msg .reply .time {
  color: var(--pcolor);
}
.msg-my .reply {
  border-left: none;
  border-right: 2px solid var(--greencolor);
  border-radius: 5px 0 0 5px;
}
.msg-text {
  color: var(--hcolor);
  font-size: 14px;
}
.msg-info {
  background-color: var(--blurcolor);
  text-align: center;
  padding: 10px 10px;
  max-width: 350px;
  margin-right: 0;
}
.msg-info p {
  font-size: 15px;
  text-align: center;
}
.msg-info .flsb p {
  font-size: 12px;
}
.msg-my {
  background-color: var(--hovercolor);
  text-align: right;
  margin-right: 0;
  margin-left: 80px;
}
.msg-my p {
  color: var(--bgcolor);
}
.msg-my .time {
  color: var(--simplecolor);
}
textarea {
  margin: 0;
  resize: none;
}
.msg-form {
  position: fixed;
  bottom: -1px;
  align-items: center;
}
.msg-form textarea {
  margin: 0;
  border-bottom: none;
  padding: 10px;
}
.msg-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 0;
  min-width: 40px;
  min-height: 78px;
}
.msg-form .reply {
  background-color: var(--simplecolor);
  border-bottom: 1px solid var(--pcolor);
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 430px;
}
.msg-form .reply button {
  font-size: 16px;
  min-width: unset;
  min-height: unset;
  padding: 0 5px;
}

.user-link {
  display: block;
  font-size: 24px;
  min-width: 250px;
  background-color: var(--bgcolor);
  border-bottom: var(--pcolor) solid 1px;
  padding: 5px 10px;
}
.user-link:hover {
  display: block;
  font-size: 24px;
  min-width: 250px;
  background-color: var(--hovercolor);
  border-bottom: var(--greencolor) solid 1px;
  color: var(--simplecolor);
  padding: 5px 10px;
}

.list {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

@keyframes show-my-msg {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes show-msg {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.msg-my.new-msg {
  animation: show-my-msg 0.25s forwards;
}
.new-msg {
  animation: show-msg 0.25s forwards;
}
