/*
forms
*/
textarea {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  background-color: var(--simplecolor);
  color: var(--pcolor);
  border: none;
  border-bottom: var(--greencolor) solid 1px;
  font-size: 24px;
}

input {
  /* width: 95%; */
  margin: 5px 0;
  background-color: var(--blurcolor);
  padding: 5px 10px;
  color: var(--pcolor);
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.search {
  width: 330px;
}
