.react-tooltip {
  z-index: 10000;
  border: 1px solid var(--greencolor);
  background: var(--reversepcolor) !important;
  color: var(--hovercolor) !important;
}
.react-tooltip-arrow {
  border: 1px solid var(--greencolor);
  border-top: 0;
  border-left: 0;
}
